//Colours
:root {
    --color1: #1C5D99;
    --color2: #FFFFFF;
    --color3: #222222;
}

//Footer
footer{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: var(--color2);
}

//Margin and Paddings of Elements
.footer-main-content {
    text-align: center;
    margin: auto;
}

.footer-contacts {
    float: right;
}

.footer-terms {
    display: inline-block;
    margin: 1rem;
    font-size: 0.86rem;
}

.footer-line {
    padding: 0.25rem;
}

//Links and Icons
.footer-contacts,
.footer-links,
.footer-icons {
    color: var(--color1);
}

.footer-contacts:hover,
.footer-icons:hover,
.footer-links:hover {
    color: var(--color3);
}

.footer-icons:active {
    color: var(--color1);
}

.footer-links {
    text-decoration: none;
}

.footer-icons {
    font-size: 2rem;
    margin: 1rem 0.5rem;
}

//Drop Down List
.footer-select,
.footer-option {
    color: var(--color2);
    background-color: var(--color1);
}

.footer-select {
    border-radius: 0.5rem;
}

.footer-option {
    text-align: center;
}
