body {
    background-color: rgb(209, 204, 204);
}

//Colors
:root {
    --color1: #1C5D99;
    --color2: #FFFFFF;
    --color3: #222222;
}

//Phone View Search bar
@media (max-width: 975px) {
    .searchInput_Container {
            visibility: hidden;
            width: 0%;
        }
}

//SearchBar
.searchIcon {
    position: absolute;
    left: 80%;
    padding: 10px;
    margin: auto;
}

.searchIcon:hover {
    color: var(--color1);
}

.searchInput_Container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
/*     position: absolute;
    top: 0.6rem;
    right: 24rem; */
}

#searchInput {
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}

//Search Content
.templateContainer .template_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.templateContainer .template_Container .template {
    background-color: var(--color3);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    color: var(--color2);
    transition: transform 0.2s linear;
}

.templateContainer .template_Container .template:hover {
    transform: scale(1.05);
}

.templateContainer .template_Container .template img {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    border: 5px solid var(--color1);
}